<p *ngIf="projectCreated;else initialtitle">Project {{ projectName | shorten:20 }} created.</p>
<ng-template #initialtitle><p>Create and modify projects</p></ng-template>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Project Title" aria-label="Project Title" aria-describedby="basic-addon2" [(ngModel)]="inputText"  (change)="projectRandomCreationStatus=false">
  <div class="input-group-append">
    <button class="btn btn-outline-dark" type="button" (click)="inputText=''; projectRandomCreationStatus=false"><i class="fas fa-times"></i></button>
    <button class="btn btn-secondary" type="button" (click)="randomName(); projectRandomCreationStatus=false">Random</button>
    <button class="btn btn-primary" type="button" (click)="onCreateProject()">Add Project</button>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Project Title</th>
        <th scope="col" class="status">Technical Feasibility</th>
        <th scope="col" class="status">Market Feasibility</th>
        <th scope="col" class="status">Business Case Approval</th>
        <th scope="col" class="delete"><i class="fas fa-trash-alt"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <td>{{ project.name | shorten:20 }}</td>
        <td class="status"><a href="javascript:void(0);" class="badge" [ngClass]="getStatusClasses(project.status1)" (click)="project.status1=cycleStatus(project.status1)">{{ project.status1 | titlecase }}</a></td>
        <td class="status"><a href="javascript:void(0);" class="badge" [ngClass]="getStatusClasses(project.status2)" (click)="project.status2=cycleStatus(project.status2)">{{ project.status2 | titlecase }}</a></td>
        <td class="status"><a href="javascript:void(0);" class="badge" [ngClass]="getStatusClasses(project.status3)" (click)="project.status3=cycleStatus(project.status3)">{{ project.status3 | titlecase }}</a></td>
        <td class="delete"><button class="btn btn-outline-danger btn-sm smaller" type="button" (click)="deleteProject(project)"><i class="far fa-trash-alt"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>